export(lsgl)
export(lsgl.algorithm.config)
export(lsgl.cv)
export(lsgl.lambda)
export(lsgl.standard.config)
import(Matrix)
import(sglOptim)
S3method(coef,lsgl)
S3method(Err,lsgl)
S3method(features,lsgl)
S3method(models,lsgl)
S3method(nmod,lsgl)
S3method(parameters,lsgl)
S3method(predict,lsgl)
S3method(print,lsgl)
useDynLib(lsgl,.registration=TRUE)
